HavenDisabilityDetailsCMPService/xsd/Disability_spformat.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://openhbx.gov/haven/Disabilitydetails/response" xmlns="https://openhbx.gov/haven/Disabilitydetails/response">
   <xs:element name="participant_disabilities">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="disabilities">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="disability" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="dateCompetencyDetermined"/>
                              <xs:element type="xs:string" name="disabilityStartDate"/>
                              <xs:element type="xs:string" name="disabilityEndDate"/>
                              <xs:element type="xs:long" name="dis_caseParticipantRoleID"/>
                              <xs:element type="xs:long" name="dis_ParticipantRoleID"/>
                              <xs:element type="xs:string" name="dis_comments"/>
                              <xs:element type="xs:string" name="DisabilityType_Code"/>
                              <xs:element type="xs:string" name="DisabilityType"/>
                              <xs:element type="xs:long" name="evidenceID"/>
                              <xs:element type="xs:string" name="statuscode"/>
                              <xs:element type="xs:string" name="receiveddate"/>
                              <xs:element type="xs:int" name="correctionsetid"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
