HavenCuramUserLookupCmpService/xsd/sp_out_format.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="users_ID_IC_info">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="user_ID_IC_info" maxOccurs="unbounded"
                        minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:long" name="user_CONCERNROLEID"/>
                     <xs:element type="xs:int" name="user_IC"/>
                     <xs:element type="xs:int" name="AppCaseRef"/>
                     <xs:element type="xs:string" name="AppCreatedOn"/>
                     <xs:element type="xs:string" name="motivationType"/>
                     <xs:element type="xs:string" name="user_SSN"/>
                     <xs:element type="xs:string" name="user_FirstName"/>
                     <xs:element type="xs:string" name="user_LastName"/>
                     <xs:element type="xs:date" name="user_DOB"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
