HavenAppCaseRefService/xsd/AppCase_sp_format.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="AppCaseRefFromIC">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="IntegratedCase_ID" type="xs:string"/>
            <xs:element name="AppCaseRef" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
