HavenFilerConsentCmpService/xsd/Filer_sp_format.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="FilersConsent">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="filer_consent" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="filer_IC" type="xs:int"/>
                     <xs:element name="caseworker" type="xs:string"/>
                     <xs:element name="consentForIRSRenewals" type="xs:string"/>
                     <xs:element name="yearsToRenewCoverage" type="xs:int"/>
                     <xs:element name="startDate" type="xs:int"/>
                     <xs:element name="endDate" type="xs:string"/>
                     <xs:element name="consentToTruthfulAnswers"
                                 type="xs:string"/>
                     <xs:element name="consenttToMedicaidReimbursement"
                                 type="xs:string"/>
                     <xs:element name="consentToShareInformationExternally"
                                 type="xs:string"/>
                     <xs:element name="consentToCooperationForMedicalSupport"
                                 type="xs:string"/>
                     <xs:element name="consentToNotifyOfChange"
                                 type="xs:string"/>
                     <xs:element name="registerToVote" type="xs:string"/>
                     <xs:element name="eSignatureFirstName" type="xs:string"/>
                     <xs:element name="eSignatureMiddleName" type="xs:string"/>
                     <xs:element name="eSignatureLastName" type="xs:string"/>
                     <xs:element name="caseParticipantRoleID" type="xs:int"/>
                     <xs:element name="participantID" type="xs:int"/>
                     <xs:element name="evidenceID" type="xs:int"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
