HavenPregnancyDetailsCmpService/xsd/PregnancyDetails_spformat.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://openhbx.gov/haven/Pregnancydetails/spformat"
           xmlns="https://openhbx.gov/haven/Pregnancydetails/spformat">
       <!-- XML Schema Generated from XML Document on Fri Dec 01 2017 13:36:23 GMT-0500 (EST) -->
       <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="participant_pregnant">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="pregnancy">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="isPregnancy"
                                                             type="xs:string"></xs:element>
                                                 <xs:element name="dueDate"
                                                             type="xs:string"></xs:element>
                                                 <xs:element name="comments"
                                                             type="xs:string"></xs:element>
                                                 <xs:element name="enrolledOnMedicaidDuringPregnancy"
                                                             type="xs:string"></xs:element>
                                                 <xs:element name="noOfUnborn"
                                                             type="xs:string"></xs:element>
                                                 <xs:element name="pregnancyEndDate"
                                                             type="xs:string"></xs:element>
                                                 <xs:element name="start_date"
                                                             type="xs:string"></xs:element>
                                                 <xs:element name="end_date"
                                                             type="xs:string"></xs:element>
                                          </xs:sequence>
                                   </xs:complexType>
                            </xs:element>
                     </xs:sequence>
              </xs:complexType>
       </xs:element>
</xs:schema>