HavenPregnancyDetailsCmpService/xsd/PregnancyDetails_spformat.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://openhbx.gov/haven/Pregnancydetails/spformat" xmlns="https://openhbx.gov/haven/Pregnancydetails/spformat">
   <xs:element name="participant_pregnant">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="pregnancy">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="isPregnancy" type="xs:string"/>
                     <xs:element name="dueDate" type="xs:string"/>
                     <xs:element name="comments" type="xs:string"/>
                     <xs:element name="enrolledOnMedicaidDuringPregnancy" type="xs:string"/>
                     <xs:element name="noOfUnborn" type="xs:string"/>
                     <xs:element name="pregnancyEndDate" type="xs:string"/>
                     <xs:element name="start_date" type="xs:string"/>
                     <xs:element name="end_date" type="xs:string"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
